// .custom-placeholder::placeholder {
//   font-family: 'Arial', sans-serif;  /* Change font */
// //  font-size: 14px;                   /* Change size */
//   color: #a29b9b;                       /* Change color */
//   font-style: verdana;                /* Optional: make it italic */
// }



.form-group {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.form-label {
  //font-size: 0.9rem;
     
  font-weight: 400;
  color: #444;
  margin-bottom: 6px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-family: 'Roboto', sans-serif;
}
.text-surface-900 {
    --tw-text-opacity: 1;
    color: 
 color-mix(in srgb, var(--p-surface-900) calc(100% * var(--tw-text-opacity, 1)), transparent);
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}