<!-- <img [src]="avatar_url" alt="User Avatar"> -->

<div class="container">

    <div class="card">
        <div class="card-content">
            <p class="subtitle">
                Personal information
            </p>

            <!-- <div class="columns">
                <div class="column is-1">
                    <figure class="image is-96x96">
                        <img class="is-rounded" img [src]="avatar_url" />
                    </figure>



                </div>
                <div class="column">
                    <div class="label "> jeff basos</div>
                </div>

            </div> -->
            <div class="level">
                  <div class="level-left">
                <div class="level-item">
                      <figure class="image is-96x96">
                        <img class="is-rounded" img [src]="avatar_url" />
                    </figure>
                </div>
                 <div class="level-item">
                      <div class="label "> {{user.name}}</div>
                 </div>
                 </div>


            </div>



            <br>



            <div class="container">
                <div class="card">
                    <div class="card-content">
                        <div class="columns">
                            <div class="column">
                                <h5 class="subtitle is-5">user info

                                </h5>

                                <input class="input" type="email" placeholder="email"
                                value="{{user.email}}" />
                            </div>
                          

                        </div>
                        <div class="columns">
                            <div class="column">
                                <input class="input" type="text" placeholder="Text input" />
                            </div>
                           

                        </div>
                        <div class="columns">
                            <div class="column">
                                <input class="input" type="text" placeholder="Text input" />
                            </div>
                           

                        </div>


                    </div>
                </div>
            </div>


<br>

              <div class="container">
                <div class="card">
                    <div class="card-content">
                        <div class="columns">
                            <div class="column">
                                <h5 class="subtitle is-5">Projects 

                                </h5>

                                <input class="input" type="email" placeholder="email"  />
                            </div>
                          

                        </div>
                        <div class="columns">
                            <div class="column">
                                <input class="input" type="text" placeholder="Text input" />
                            </div>
                           

                        </div>
                        <div class="columns">
                            <div class="column">
                                <input class="input" type="text" placeholder="Text input" />
                            </div>
                           

                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>

</div>